*{margin:0;}
.w3-sidebar{margin-top:75px;}
nav{z-index:3;position:fixed;padding:0;width:100%;height:75px;background-color: #e6e0e9;}
.logo-image{height:75px;width:75px;float:left;border-top-right-radius:50%;border-bottom-right-radius:50%;line-height:75px;cursor:pointer;transition:all 0.6s;}
.logo-text{font-size:50px;font-family:'Great Vibes', cursive;line-height:75px;margin:0 0 0 20px;cursor:pointer;float:left;background:-webkit-linear-gradient(0deg, #1CB5E0 0%, #000851 100%);background-clip:text;-webkit-background-clip:text;-webkit-text-fill-color:transparent;transition:all 0.6s;letter-spacing:2px;}
.logo-text:hover{background:-webkit-linear-gradient(0deg, #000851 0%,#1CB5E0 100%);background-clip:text;-webkit-background-clip:text;-webkit-text-fill-color:transparent;}
.nav{float:right;list-style:none;margin:0 60px 0 0;}
.nav li{display:inline;line-height:75px;margin:0 10px;padding:4px;}
.nav li a{font-size:22px;font-family:Montserrat;color:#000;padding-bottom:36px;text-decoration:none;}
.nav li a:hover{color:#000;text-shadow:0 0 5px #0080ff;}
.checkbtn{font-size:28px;line-height:75px;float:right;color:#000;margin-right:15px;display:none;}
#check{display:none;}
.home{padding-top:210px;height:700px;width:100%;background:url(https://ik.imagekit.io/garimaworks999/bg_C35S4WIlM.jpg);background-size:cover;}
.intro{background:none;margin-top:0;margin-left:40px;width:35%;height:300px;padding:20px;text-align:center;font-size:38px;}
#images{width:100%;}
.images_head{text-align:center;margin-top:0;padding-bottom:5px;font-size:40px;}
.images_head:after{content:"";display:block;margin:0 auto;width:250px;padding-top:8px;border-bottom:2px solid black;}
#myBtnContainer{padding:0;height:40px;width:300px;margin:0 auto 0 auto;display:grid;grid-template-rows:40px;grid-template-columns:100px 100px 100px;}
.btn{width:100px;height:40px;border:none;border-width:1px;border-color:black;border-style:solid;-webkit-appearance:none;-moz-appearance:none;-ms-appearance:none;appearance:none;}
.toggle-btn{width:120px;margin:0 auto;}
#more_btn{display:block;}
#less_btn{display:none;}
.grid{max-width:1200px;margin:30px auto;background:none;display:grid;grid-row-gap:0;grid-column-gap:0;grid-template-columns:300px 300px 300px 300px;grid-template-rows:auto;}
#toggle_2{margin-top:0;display:none;}
.column{height:300px;width:300px;display:none;overflow:hidden;position:relative;}
.show{display:block;}
#ask{margin-top:20px;width:100%;height:500px;background:#f0eee4;}
#ask h3{text-align:center;margin-top:0;}
#ask h3:after{content:"";display:block;margin:0 auto;width:350px;padding-top:8px;border-bottom:2px solid black;}
.contain1{width:80%;margin:30px auto;padding:20px 40px;font-size:24px;}
.left_panel{float:left;margin:50px auto;width:50%;}
.contain1 h6{font-size:28px;margin-top:10px;}
.contain1 img{float:right;}
.contact{width:100%;background:#f0eee4;}
.contact h3{text-align:center;margin:0 auto 30px auto;}
.contact_head:after{content:"";display:block;margin:0 auto;width:150px;padding-top:8px;border-bottom:2px solid black;}
.contain2{width:80%;margin:0 auto;}
.left{margin:50px auto;font-size:22px;float:left;}
.disclaimer{margin-top:50px;width:320px;font-size:13px;color:#abafae;}
.right{font-size:26px;float:right;}
.right ul{list-style:none;font-size:20px;}
.right ul li{margin:20px auto;}
.svg{
	display: none;
}
@media (max-width:1200px){.w3-sidebar{margin-top:60px;}
nav{max-width:100%;height:60px;background:#f0eee4}
.logo-image{height:60px;width:60px;line-height:60px;}
.logo-text{font-size:32px;margin:0;line-height:60px;margin-left:10px;}
.checkbtn{display:inline-block;line-height:60px;}
.nav li{display:none;}
.home{height:500px;max-width:100%;}
.intro{background:none;margin-top:100px auto 0 auto;width:80%;height:30%;padding:0px;text-align:center;font-size:24px;}
#images{max-width:100%;}
#myBtnContainer{padding:0;height:40px;width:80%;margin:0 auto 0 auto;display:grid;grid-template-rows:40px;grid-template-columns:auto auto auto;}
.btn{width:auto;height:40px;}
.toggle-btn{width:120px;margin:0 auto;}
.images_head{font-size:18px;}
.images_head:after{width:150px;}
@media (max-width:1200px){.grid{width:900px;margin:20px auto;background:none;display:grid;grid-template-columns:300px 300px 300px;grid-template-rows:auto;}
}
@media (max-width:800px){.grid{width:600px;margin:20px auto;background:none;display:grid;grid-template-columns:300px 300px;grid-template-rows:auto;}
}
#ask{max-width:100%;width:100%;height:400px;background:#f0eee4;}
#ask h3{font-size:18px;}
.contain1{width:80%;margin:30px auto;padding:0;font-size:14px;}
.left_panel{float:left;margin:20px auto;width:60%;}
.contain1 h6{font-size:16px;margin-top:10px;}
.contain1 img{float:right;}
.contact{max-width:100%;}
.contact h3{font-size:18px;}
.contact_head:after{width:120px;}
.left{font-size:14px;float:left;}
.disclaimer{font-size:8px;}
.right{font-size:16px;float:right;}
.right ul{list-style:none;font-size:12px;padding:0;}
.right ul li{text-align:left;margin:20px 0;}
}
@media (max-width:500px){.w3-sidebar{margin-top:60px;}
nav{max-width:100%;height:60px;background:#f0eee4}
.logo-image{height:60px;width:60px;line-height:60px;}
.logo-text{font-size:32px;margin:0;line-height:60px;margin-left:10px;}
.checkbtn{display:inline-block;line-height:60px;}
.nav li{display:none;}
.home{height:500px;max-width:100%;}
.intro{background:none;margin-top:100px auto 0 auto;width:80%;height:30%;padding:0px;text-align:center;font-size:24px;}
#images{max-width:100%;}
#myBtnContainer{padding:0;height:40px;width:80%;margin:0 auto 0 auto;display:grid;grid-template-rows:40px;grid-template-columns:auto auto auto;}
.btn{width:auto;height:40px;}
.toggle-btn{width:120px;margin:0 auto;}
.images_head{font-size:18px;}
.images_head:after{width:150px;}
.grid{width:300px;margin:20px auto;background:none;display:grid;grid-template-columns:300px;grid-template-rows:auto;}
#ask{max-width:100%;width:100%;height:600px;background:#f0eee4;}
#ask h3{font-size:18px;}
.contain1{width:80%;margin:30px auto;padding:0;font-size:14px;}
.left_panel{float:none;margin:20px auto;width:100%;}
.contain1 h6{font-size:16px;margin-top:10px;}
.contain1 img{float:none;}
.contact{max-width:100%;}
.contact h3{font-size:18px;}
.contact_head:after{width:120px;}
.left{font-size:14px;float:none;}
.disclaimer{font-size:8px;}
.right{font-size:18px;float:none;margin: 0;}
.right ul{list-style:none;font-size:12px;padding:0;}
.right ul li{text-align:left;margin:20px 0;}
.svg-left{
float: left;
width: 150px;
}
.svg{
	display: block;
}
.svg-right{
float: right;
width: 150px;
height: 100%;
}
}
@media (max-width:340px){.w3-sidebar{margin-top:60px;}
nav{max-width:100%;height:60px;}
.logo-image{height:60px;width:60px;line-height:60px;}
.logo-text{font-size:18px;margin:0;line-height:60px;margin-left:10px;}
.checkbtn{display:inline-block;line-height:60px;}
.nav li{display:none;}
.home{height:500px;max-width:100%;}
.intro{background:none;margin-top:100px auto 0 auto;width:80%;height:30%;padding:0px;text-align:center;font-size:20px;}
#images{max-width:100%;}
#myBtnContainer{padding:0;height:40px;width:80%;margin:0 auto 0 auto;display:grid;grid-template-rows:40px;grid-template-columns:auto auto auto;}
.btn{width:auto;height:40px;font-size:12px;}
.toggle-btn{width:120px;margin:0 auto;}
.images_head{font-size:16px;}
.images_head:after{width:120px;}
.grid{max-width:100%;margin:30px auto;background:none;display:grid;grid-template-columns:300px;grid-template-rows:auto;}
#ask{max-width:100%;width:100%;height:550px;background:#f0eee4;}
#ask h3{font-size:16px;}
#ask h3:after{width:150px;}
.contain1{width:80%;margin:30px 0;padding:0;font-size:16px;}
.left_panel{float:none;margin:20px auto;width:100%;}
.contain1 h6{font-size:14px;margin-top:10px;}
.contain1 img{float:none;}
.contact{max-width:100%;}
.contact h3{font-size:16px;}
.contact_head:after{width:120px;}
.left{font-size:14px;float:none;}
.disclaimer{width:100%;font-size:8px;}
.right{font-size:12px;float:none;}
.right ul{list-style:none;font-size:10px;padding:0;}
.right ul li{text-align:center;margin:10px auto;}
}